<section id="functionalTesting">
  <div class="services-header" id="mainContainer">
    <div class="col-lg-12 text-center">
      <img src="/assets/img/about/SERVICES.png" />
      <h4 class="section-heading sectionheading-fontfamily">FEATURES</h4>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="services_tabs" class="container sections-margin services_cont">

    <div class="row text-center">
      <nav class="services_nav">
        <a href="#" class="active" data-tab="service_tab1">PT
          MANAGEMENT</a> <a href="#" data-tab="service_tab2">eFORMS</a> <a href="#"
          data-tab="service_tab3">ANALYTICS</a> <a href="#" data-tab="service_tab4">REALISTIC LOAD
          TESTING</a> <a href="#" data-tab="service_tab5">SCRIPT DESIGN</a> <a href="#"
          data-tab="service_tab6">PERFORMANCE ENGG</a>
      </nav>


    </div>

    <div class="services_tabs">

      <div class="row text-justify services-top service_tab1" id="mobile">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted ">Facility to standardize and orchestrate
            the end to end performance testing process</p>
          <p class="text-muted ">Process driven Automation</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Includes request
            initialization, Performance test planning, scripting &amp;
            execution, LoadRunner schedule blocking, forecasting Usage etc</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Organize and manage features
          </p>
          <p class="text-muted text-align">Automated email triggers</p>
          <p class="text-muted text-align">Supports Progression across
            PTLC</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Escalation Management Made
            easy</p>
          <p class="text-muted text-align">Integration with
            PerfAnalytics tool &amp; Command Centre</p>
        </div>
      </div>

      <div class="row text-center services-top service_tab2" style="display: none;" id="devops">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
          <p class="text-muted text-align">Auto creates Performance
            testing templates across the PTLC</p>
          <p class="text-muted text-align">eTest plans, eRiskAssemment
            and eTest summary reports</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Performance test templates
            specific to client needs</p>
          <p class="text-muted text-align">Intelligent techniques to
            auto populate most of the templates for Regression Projects</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Seamless Integration with
            PerfAnalytics for report generation</p>
          <p class="text-muted text-align">Test execution report auto
            populated</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Reduces dependency on
            performance testers for human errors</p>
          <p class="text-muted text-align">Standardization of eFORMS
            across all projects in LOB's</p>

        </div>
      </div>

      <div class="row text-center services-top service_tab3" style="display: none;" id="devops">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
          <p class="text-muted text-align">Provide deep insights into
            the past test runs</p>
          <p class="text-muted text-align">Trend Analytics maintained
            over a period of time</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Predictive views for future
            runs with recommendations</p>
          <p class="text-muted text-align">Decision tree algorithm for
            test or no test</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Automatic TPS calculation for
            Users from previous runs</p>
          <p class="text-muted text-align">Prediction for the 10 runs
            across the LoB</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Learns from the previous runs
            and predicts</p>
          <p class="text-muted text-align">Best in Industry Algorithms
            used for Machine Learning</p>
        </div>
      </div>

      <div class="row text-center services-top service_tab4" style="display: none;" id="devops">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
          <p class="text-muted text-align">Analyze existing server logs
            to derive actionable information</p>
          <p class="text-muted text-align">Gain deep insights into
            customer application</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Supports both Access Logs and
            Web Logs</p>
          <p class="text-muted text-align">Execution control through a
            simple upload feature</p>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Use log analysis &amp; user
            inputs to create realistic workload models for predicted
            application usage</p>
          <p class="text-muted text-align">WLM using Little's law and
            Markov chains models</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Best in industry technology
            usage</p>
          <p class="text-muted text-align">Kibana,Elastic search and
            Logstats</p>
        </div>
      </div>

      <div class="row text-center services-top service_tab5" style="display: none;" id="devops">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
          <p class="text-muted text-align">Script less Automation-Auto
            create performance scripts using robotic agents</p>
          <p class="text-muted text-align">AWT Robot used for script
            creation</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Automatic Script
            standardization done via LRAC</p>
          <p class="text-muted text-align">Pacing calculator integrated
            for easy calculation</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Easy settings of transactions
            across scripts</p>
          <p class="text-muted text-align">Run time settings made easy
            for multiple scripts</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Static Source Code Validation
            and Analysis using custom rules</p>
          <p class="text-muted text-align">Cut down of manual review
            process of multiple scripts</p>
        </div>
      </div>

      <div class="row text-center services-top service_tab6" style="display: none;" id="devops">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
          <p class="text-muted text-align">Performance engineering
            platform for NFR and Design validation</p>
          <p class="text-muted text-align">Architecture assessment using
            our IAART framework</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">DevOps enabled Continuous
            Testing once engineering is complete</p>
          <p class="text-muted text-align">Smart configuration for Job
            Trains</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

          <p class="text-muted text-align">Smart assets with engineering
            rules applied on technology</p>
          <p class="text-muted text-align">Left Shift to capture code
            quality</p>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />
          <p class="text-muted text-align">PEP framework and
            Orchestration capability</p>
          <p class="text-muted text-align">Quality gates embedded within
            continuous testing</p>
        </div>
      </div>

    </div>

  </div>
</section>