<div id="sliderFrame">
    <div id="slider">
        <!--  <a href="http://www.menucool.com/javascript-image-slider" target="_blank">
        <img src="images/image-slider-1.jpg" alt="Welcome to Menucool.com" />
    </a> -->
        <img src="/assets//img/about/slider1.jpg" /> <img src="/assets/img/about/slider2.jpg" /> <img
            src="/assets/img/about/slider3.jpg" />
        <img src="/assets/img/about/slider4.jpg" />
    </div>
</div>
<section id="agileTesting">
    <div class="container sections-margin">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading sectionheading-fontfamily">NFTHub</h2>
            </div>
        </div>
        <div class="row">
            <div class="" id="featuresList">
                <div class="col-md-4">
                    <ul class="">

                        <li>First in industry and innovative solution from Capgemini
                            which will revolutionize the way performance testing and
                            engineering is practised today by supporting complete
                            orchestration of performance life cycle and automation</li>
                        <li>End to End support from request creation and approval of
                            project in the test management tool, managing resources and
                            allocations.</li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="">

                        <li>An interwoven set of tools and accelerators spanning
                            across the performance life cycle, providing a unique set of
                            features on an enterprise level to address the Performance
                            Testing &amp; Engineering services needs across the Organization</li>
                        <li>Single pane dashboard providing RAG view of all running
                            projects, tracking and facility for drill down to various
                            artefacts</li>

                    </ul>

                </div>
                <div class="col-md-4">
                    <ul class="">

                        <li>DevOps ready by integrating Jenkins into its execution
                            platform supporting HPE LoadRunner and Performance center</li>
                        <li>Automated features for performance test plans, test
                            summary reports, script validations, dry runs, executions etc.</li>
                        <li>Deep dive analysis, performance trending and sizing
                            &amp; capacity planning through collection of monitoring data
                            during performance tests</li>


                    </ul>




                </div>
            </div>

        </div>
        <!-- <div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-12 agileTesting_icons text-center">
                <div class="col-md-6 col-xs-6 producst-border">

                    <img src="img/about/PRODUCTS.png" class="image-center">
                    <h3>Services</h3>
                </div>

                <div class="col-md-6 col-xs-6 ">

                    <img src="img/about/SERVICES.png" class="image-center">
                    <h3>Products</h3>
                </div>

            </div>

        </div> -->


    </div>

</section>
<section id="functionalTesting">
    <div class="services-header" id="mainContainer">
        <div class="col-lg-12 text-center">
            <img src="/assets/img/about/SERVICES.png" />
            <h4 class="section-heading sectionheading-fontfamily">FEATURES</h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="services_tabs" class="container sections-margin services_cont">

        <div class="row text-center">
            <nav class="services_nav">
                <a href="#" class="active" data-tab="service_tab1">PT
                    MANAGEMENT</a> <a href="#" data-tab="service_tab2">eFORMS</a> <a href="#"
                    data-tab="service_tab3">ANALYTICS</a> <a href="#" data-tab="service_tab4">REALISTIC LOAD
                    TESTING</a> <a href="#" data-tab="service_tab5">SCRIPT DESIGN</a> <a href="#"
                    data-tab="service_tab6">PERFORMANCE ENGG</a>
            </nav>


        </div>

        <div class="services_tabs">

            <div class="row text-justify services-top service_tab1" id="mobile">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted ">Facility to standardize and orchestrate
                        the end to end performance testing process</p>
                    <p class="text-muted ">Process driven Automation</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Includes request
                        initialization, Performance test planning, scripting &amp;
                        execution, LoadRunner schedule blocking, forecasting Usage etc</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Organize and manage features
                    </p>
                    <p class="text-muted text-align">Automated email triggers</p>
                    <p class="text-muted text-align">Supports Progression across
                        PTLC</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Escalation Management Made
                        easy</p>
                    <p class="text-muted text-align">Integration with
                        PerfAnalytics tool &amp; Command Centre</p>
                </div>
            </div>

            <div class="row text-center services-top service_tab2" style="display: none;" id="devops">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
                    <p class="text-muted text-align">Auto creates Performance
                        testing templates across the PTLC</p>
                    <p class="text-muted text-align">eTest plans, eRiskAssemment
                        and eTest summary reports</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Performance test templates
                        specific to client needs</p>
                    <p class="text-muted text-align">Intelligent techniques to
                        auto populate most of the templates for Regression Projects</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Seamless Integration with
                        PerfAnalytics for report generation</p>
                    <p class="text-muted text-align">Test execution report auto
                        populated</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Reduces dependency on
                        performance testers for human errors</p>
                    <p class="text-muted text-align">Standardization of eFORMS
                        across all projects in LOB's</p>

                </div>
            </div>

            <div class="row text-center services-top service_tab3" style="display: none;" id="devops">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
                    <p class="text-muted text-align">Provide deep insights into
                        the past test runs</p>
                    <p class="text-muted text-align">Trend Analytics maintained
                        over a period of time</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Predictive views for future
                        runs with recommendations</p>
                    <p class="text-muted text-align">Decision tree algorithm for
                        test or no test</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Automatic TPS calculation for
                        Users from previous runs</p>
                    <p class="text-muted text-align">Prediction for the 10 runs
                        across the LoB</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Learns from the previous runs
                        and predicts</p>
                    <p class="text-muted text-align">Best in Industry Algorithms
                        used for Machine Learning</p>
                </div>
            </div>

            <div class="row text-center services-top service_tab4" style="display: none;" id="devops">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
                    <p class="text-muted text-align">Analyze existing server logs
                        to derive actionable information</p>
                    <p class="text-muted text-align">Gain deep insights into
                        customer application</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Supports both Access Logs and
                        Web Logs</p>
                    <p class="text-muted text-align">Execution control through a
                        simple upload feature</p>

                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Use log analysis &amp; user
                        inputs to create realistic workload models for predicted
                        application usage</p>
                    <p class="text-muted text-align">WLM using Little's law and
                        Markov chains models</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Best in industry technology
                        usage</p>
                    <p class="text-muted text-align">Kibana,Elastic search and
                        Logstats</p>
                </div>
            </div>

            <div class="row text-center services-top service_tab5" style="display: none;" id="devops">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
                    <p class="text-muted text-align">Script less Automation-Auto
                        create performance scripts using robotic agents</p>
                    <p class="text-muted text-align">AWT Robot used for script
                        creation</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Automatic Script
                        standardization done via LRAC</p>
                    <p class="text-muted text-align">Pacing calculator integrated
                        for easy calculation</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Easy settings of transactions
                        across scripts</p>
                    <p class="text-muted text-align">Run time settings made easy
                        for multiple scripts</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Static Source Code Validation
                        and Analysis using custom rules</p>
                    <p class="text-muted text-align">Cut down of manual review
                        process of multiple scripts</p>
                </div>
            </div>

            <div class="row text-center services-top service_tab6" style="display: none;" id="devops">
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m1.png" alt="defaultImage" class="services-image-width" />
                    <p class="text-muted text-align">Performance engineering
                        platform for NFR and Design validation</p>
                    <p class="text-muted text-align">Architecture assessment using
                        our IAART framework</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/m2.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">DevOps enabled Continuous
                        Testing once engineering is complete</p>
                    <p class="text-muted text-align">Smart configuration for Job
                        Trains</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M3.png" alt="defaultImage" class="services-image-width" />

                    <p class="text-muted text-align">Smart assets with engineering
                        rules applied on technology</p>
                    <p class="text-muted text-align">Left Shift to capture code
                        quality</p>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <img src="/assets/img/about/M4.png" alt="defaultImage" class="services-image-width" />
                    <p class="text-muted text-align">PEP framework and
                        Orchestration capability</p>
                    <p class="text-muted text-align">Quality gates embedded within
                        continuous testing</p>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="mobileTesting">
    <div class="sections-margin">
        <div class="row">
            <div class="services-header">
                <div class="col-lg-12 text-center">
                    <img src="/assets/img/about/PRODUCTS.png" />
                    <h4 class="section-heading sectionheading-fontfamily">PRODUCTS</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <div class="products_items">
        <div class="p_item col-md-6 col-xs-12 left p1" id="perftrack">
            <div class="p_content c1p" data-content="c1">
                <h3 style="font-size: 30px;">PERFTRACK</h3>
            </div>

            <div class="p_content_hover c1">

                <div style="display: table-cell; vertical-align: middle;">
                    <h3>PERFTRACK</h3>
                    <p>
                        Performance test management tool for standardizing and
                        orchestrating the end to end performance testing process
                        including request initialization, resource allocation, test
                        planning, scripting &amp; execution <a href="http://IN-PNQ-COE01N:8080/PerfTrack/"
                            style="font-size: 18px">Launch
                            Application</a>

                    </p>
                </div>

            </div>
        </div>
        <div class="p_item col-md-6 col-xs-12 left p2" id="perfanalytics">
            <div class="p_content c2p" data-content="c2">
                <h3 style="font-size: 30px;">PERFANALYTICS</h3>
            </div>
            <div class="p_content_hover c2">
                <div style="display: table-cell; vertical-align: middle;">

                    <h3>PERFANALYTICS</h3>
                    <p style="font-size: 16px">
                        Provides deep insights into the past test runs and at the same
                        time, through machine learning provides predictive views for
                        future runs with recommendations for test or no test, memory, CPU
                        etc. <a href="http://IN-PNQ-COE01N:8080/PerfAnalytics/" style="font-size: 18px">Launch
                            Application</a>

                    </p>
                </div>
            </div>
        </div>
        <div class="p_item col-md-6 col-xs-12 left p3" id="lrac">
            <div class="p_content c3p" data-content="c3">
                <h3 style="font-size: 30px;">LRAC</h3>
            </div>
            <div class="p_content_hover c3">
                <div style="display: table-cell; vertical-align: middle;">

                    <h3>LRAC</h3>
                    <p style="font-size: 16px">
                        Script standardizer and review tool to reduce the test
                        development effort by automating the standardization and
                        customization of the LoadRunner scripts including static source
                        code analysis <a href="http://IN-PNQ-COE01N:8080/LRAC/" style="font-size: 18px">Launch
                            Application</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="p_item col-md-6 col-xs-12 left p4" id="loganalyser">
            <div class="p_content c4p" data-content="c4">
                <h3 style="font-size: 30px;">LOGANALYSER</h3>
            </div>
            <div class="p_content_hover c4">
                <div style="display: table-cell; vertical-align: middle;">

                    <h3>LOGANALYSER</h3>
                    <p style="font-size: 16px">
                        QAnalyzes server logs to derive actionable information and gain
                        deep insights into customer, application, or device behaviour.
                        Tool for realistic work load modelling inputs derived from usage
                        logs, automated test scenario generation for execution <a
                            href="http://IN-PNQ-COE01N:5601/goto/bbe4c65bca582b20fa1386922c872d32"
                            style="font-size: 18px">Launch Application</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="p_item col-md-6 col-xs-12 left p5" id="pep">
            <div class="p_content c5p" data-content="c5">
                <h3 style="font-size: 30px;">PRA</h3>
            </div>
            <div class="p_content_hover c5">
                <div style="display: table-cell; vertical-align: middle;">

                    <h3>PRA</h3>
                    <p style="font-size: 16px; text-align: center;">
                        Performance Risk Assessment
                        <!--<a href="Cafe_Selenium/Cafe_Selenium/index.html" style="font-size:18px">Launch Application</a>-->
                        <!-- <a href="" style="font-size: 18px">Launch Application</a> -->
                        <a href="http://IN-PNQ-COE01N:8080/PRA/" style="font-size: 18px">Launch Application</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="p_item col-md-6 col-xs-12 left p5" id="jtest">
            <div class="p_content c7p" data-content="c7">
                <h3 style="font-size: 30px;">JTest</h3>
            </div>
            <div class="p_content_hover c7">
                <div style="display: table-cell; vertical-align: middle;">

                    <h3>JTest</h3>
                    <p style="font-size: 16px; text-align: center;">
                        JTest
                        <!--<a href="Cafe_Selenium/Cafe_Selenium/index.html" style="font-size:18px">Launch Application</a>-->
                        <!-- <a href="" style="font-size: 18px">Launch Application</a> -->
                        <a href="http://localhost:8788/api/home" style="font-size: 18px">Launch Application</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="p_item col-md-6 col-xs-12 left p6" id="nfrValid">
            <div class="p_content c6p" data-content="c6">
                <h3 style="font-size: 30px;">NFR Validation</h3>
            </div>
            <div class="p_content_hover c6">
                <div style="display: table-cell; vertical-align: middle;">

                    <h3>NFR</h3>
                    <p style="font-size: 16px; text-align: center;">
                        NFR validation static template
                        <!--<a href="Cafe_Selenium/Cafe_Selenium/index.html" style="font-size:18px">Launch Application</a>-->
                        <!-- <a href="" style="font-size: 18px">Launch Application</a> -->
                        <a href="http://IN-PNQ-COE01N:8080/NFRValidation/NFRIndex.xhtml"
                            style="font-size: 18px">Launch Application</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</section>